# common
.venv/*
docs/*
alarms.tar.gz
docs.tar.gz
slyt.tar.gz
venv.tar.gz
initcloud_web_bak/*
initcloud_web/
initcloud_web/cloud/cloud_utils.py
initcloud_web/initcloud_web/settings.py
tests/*
requirements.txt
*.pyc
*.swp
# initcloud_web/initcloud.wsgi
# initcloud_web/manage.py
