<div class="jg-wrap ad"  ng-controller="CabinetController">
    <div class="jigui md">
        <div class="inner-box-list">
            <!-- 24接口交换机(1)-->
            <div ng-repeat="item in cabinets._24switchboard track by $index">
            
            </div>

            <div class="tool-01">
             <!-- 24接口交换机(1)-->
                <ul class="w1">
                    <li class="w2">
                        <span ng-repeat="item in cabinets._24switchboard track by $index">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_03.png">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_05.png">
                        </span>
                    </li>
                </ul>
            <!-- 48接口交换机(3-1) -->
                <ul class="w1">
                    <li class="w2">
                         <span ng-repeat="item in cabinets._48switchboard_01 track by $index">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_03.png">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_05.png">
                        </span>
                    </li>
                </ul>
            <!-- 48接口交换机(3-2) -->
                <ul class="w1" style="margin-top:1px;">
                    <li class="w2">
                         <span ng-repeat="item in cabinets._48switchboard_02 track by $index">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_03.png">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_05.png">
                        </span>
                    </li>
                </ul>
            <!-- 48接口交换机(3-3) -->
                <ul class="w1" style="margin-top:1px;">
                    <li class="w2">
                         <span ng-repeat="item in cabinets._48switchboard_02 track by $index">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_03.png">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_05.png">
                        </span>
                    </li>
                </ul>
            </div>
            <!-- 每节点CPU温度 -->
            <div class="tool-02">
               <ul class="l-list" ng-repeat="item in cabinets.cpu_temperature">
                    <li>
                        <div style="float:left;">
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node1[0]}]}℃</small>
                            </span>
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node1[1]}]}℃</small>
                            </span>
                        </div>
                        <div style="float:right">
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node2[0]}]}℃</small>
                            </span>
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node2[1]}]}℃</small>
                            </span>
                        </div>
                    </li>
                    <li style="margin-top:1px;">
                        <div style="float:left;">
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node3[0]}]}℃</small>
                            </span>
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node3[1]}]}℃</small>
                            </span>
                        </div>
                        <div style="float:right">
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node4[0]}]}℃</small>
                            </span>
                            <span style="display:inline-block;width:36px;">
                               <img src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <small class="tx">{[{item.node4[1]}]}℃</small>
                            </span>
                        </div>
                    </li>
               </ul>
            </div>
            <!-- JBOD 90块盘运行状态 JBOD_status -->
            <div class="tool-03">
               <div class="w1 p-2-0-2-3 clearfix">
                    
                    <span ng-repeat="item in cabinets.jbod_status_01 track by $index">
                       <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_20.png">
                       <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_18.png">
                    </span>      
               </div> 
            </div>
            <div class="tool-03 mt2">
               <div class="w1 p-2-0-2-3 clearfix">
                   <span ng-repeat="item in cabinets.jbod_status_02 track by $index">
                       <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_20.png">
                       <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_18.png">
                   </span>     
               </div> 
            </div>
            <!-- 存储服务器20块盘 运行状态 -->
            <div class="tool-05">
                <div class="w1 p2">
                    <div class="line5 clearfix">
                        <span><img src="../static/assets/admin/layout/img/common/jg_ico_29.png"></span>
                        <span ng-repeat="item in cabinets.memory_server_status_01 track by $index">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_31.png">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_28.png">
                        </span>
                        <span><img src="../static/assets/admin/layout/img/common/jg_ico_29.png"></span>
                    </div>
                </div>
            </div>
            <div class="tool-05">
                <div class="w1 p2">
                    <div class="line5 clearfix">
                        <span><img src="../static/assets/admin/layout/img/common/jg_ico_29.png"></span>
                        <span ng-repeat="item in cabinets.memory_server_status_02 track by $index">
                            <img ng-if="item == 1" src="../static/assets/admin/layout/img/common/jg_ico_31.png">
                            <img ng-if="item == 0" src="../static/assets/admin/layout/img/common/jg_ico_28.png">
                        </span>
                        <span><img src="../static/assets/admin/layout/img/common/jg_ico_29.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>