<div class="jg-wrap ad" ng-controller="CabinetController">
        <div class="jigui md">
            <div class="inner-box-list">
                <!-- 插头-->
                <div ng-repeat="s in cabinets track by $index">
                </div>
                <div class="tool-01">
                    <ul class="w1">
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                    </ul>
                    <ul class="w1">
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                    </ul>
                    <ul class="w1">
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                    </ul>
                    <ul class="w1">
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                        <li class="w2">
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==1"><img src="../static/assets/admin/layout/img/common/jg_ico_03.png"></span>
                            <span ng-repeat="s in cabinets.s1 track by $index" ng-if="s==0"><img src="../static/assets/admin/layout/img/common/jg_ico_05.png"></span>
                        </li>
                    </ul>
                </div>
               <div class="tool-02">
                   <ul class="l-list">
                        <li>
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                        <li style="margin-top:1px;">
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                   </ul>
                   <ul class="l-list">
                        <li>
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                        <li style="margin-top:1px;">
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                   </ul>
                   <ul class="l-list">
                        <li>
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                        <li style="margin-top:1px;">
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                   </ul>
                  <ul class="l-list">
                        <li>
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                        <li style="margin-top:1px;">
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                   </ul>
                   <ul class="l-list">
                        <li>
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                        <li style="margin-top:1px;">
                            <span ng-repeat="s2 in cabinets.s2 track by $index" style="display:inline-block;width:39px;">
                               <img ng-if="s2==1" src="../static/assets/admin/layout/img/common/jg_ico_10.png">
                               <img ng-if="s2==0" src="../static/assets/admin/layout/img/common/jg_ico_14.png">
                               <small class="tx">23℃</small>
                            </span>
                        </li>
                   </ul>
               </div>
                <style>
                   .w1 img{float:left;}
                    .line{height:9px;margin-top:1px;}
                    .tool-05 .w1{padding-top: 4px;}
                    .p2{padding:1px;}
                    .line5 span{
                        float:left;
                        height:12px;
                        width:6px;
                        float:left;
                        margin-left:1px;
                    }
                    .tool-03 .w1 span{
                        height:9px;
                        width:9px;
                        display:inline-block;
                        float:left;
                        margin:0.5px;
                    }
                    .mt2{margin-top:2px;}
                </style>
               <div class="tool-03">
                   <div class="w1 p-2-0-2-3 clearfix">
                       <span ng-repeat="s in cabinets.s3 track by $index">
                           <img ng-if="s==1" src="../static/assets/admin/layout/img/common/jg_ico_20.png">
                           <img ng-if="s==0" src="../static/assets/admin/layout/img/common/jg_ico_18.png">
                       </span>      
                   </div> 
                </div>
                <div class="tool-03 mt2">
                   <div class="w1 p-2-0-2-3 clearfix">
                       <span ng-repeat="s in cabinets.s3 track by $index">
                           <img ng-if="s==1" src="../static/assets/admin/layout/img/common/jg_ico_20.png">
                           <img ng-if="s==0" src="../static/assets/admin/layout/img/common/jg_ico_18.png">
                       </span>      
                   </div> 
                </div>
                <div class="tool-05">
                    <div class="w1 p2">
                        <div class="line5 clearfix">
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                        </div>
                    </div>
                </div>
                 <div class="tool-05">
                    <div class="w1 p2">
                        <div class="line5 clearfix">
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                            <span><img src="../static/assets/admin/layout/img/common/jg_ico_28.png"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>