<link rel="stylesheet" href="../static/assets/admin/layout/css/network-bar-net.css">
<div class="col"  ng-controller="Network_Bar_NetController" style="width:100%;height:433px;">
    <div style="width:100%;height:100%">
    <!-- tree树的相关信息  1.数据,
    2.控制器,3.选中执行函数,4.叶子节点最多的个数,
    5.默认选中,6.叶子节点前边的图标类,7.点击收起来图标类,
    8.点击展开图标类-->
        <div ng-if="!my_data" style="width:100%;height:100%">
            <p style="color:#ff0000;font-size:12px;height:40px;line-height:40px;text-align:center;">loading...</p>
        </div>
        <div ng-if="my_data !=''" style="width:100%;height:100%">
            <abn-tree 
              tree-data         = "my_data"
              tree-name         = "tree_name"
              tree-control      = "my_tree" 
              on-select         = "my_tree_handler(branch)" 
              expand-level      = "4" 
              initial-selection = "Granny Smith"
              icon-leaf         = "fa ico_03"
              icon-expand       = "fa ico_02"
              icon-collapse     = "fa ico_01"
              >
            </abn-tree>
        </div>
        
    </div>
    
</div>