<style>
	.iplist{
		width:40%;
		height:423px;
		border-right:solid 1px #0E2D5E;
	}
	.ipinfo{
		width:58%;
		margin-left:2%;
		height:423px;
		border-left:solid 1px #0E2D5E;
	}
	.iplist .tx,.ipinfo .tx{
       font-size:14px;
       color:#00d8ff;
	}
	.iplist .num{
		color:#15b051;
	}
	.itemtitle{
		height:30px;
		line-height:28px;
		background:url('../static/assets/admin/layout/img/second/network-monitor/nico5_03.png') no-repeat #0c2446;
		background-position:10px 10px;

	}
	._itemtitle{
		height:30px;
		line-height:28px;
		background:#0c2446;
	}
	.m10{
		display:inline-block;
		margin-left:25px !important;
		margin-top:2px;

	}
	.ml5{
		margin-left:5px;
	}
	.IPcontent{
		border:solid 1px #0E2D5E;
		margin:5px;
		height:423px;
	}
	li{list-style:none;}
    ul.box li{height:24px;line-height:24px;color:#0077bc;padding-left:5px;}
    ul.box li:hover{cursor:pointer;}
     ul.box li img{margin-top:-2px;}
    .odd{background:transparent;}
    .even{background:#1b2346;}
</style>
<div class="IPcontent" ng-controller="Network_Bar_RouterController">
	<div class="iplist fl">
		<div class="itemtitle"><span class="tx m10">IP地址</span><small class="num ml5">(56,246,415个)</small></div>
		<ul class="box">
			<li ng-repeat="item in network_bar_routers" ng-class="($index+1)%2==0?'even':'odd'" ng-click="triggerRightBar(item)">
				&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/assets/admin/layout/img/second/network-monitor/nico4_03.png">&nbsp;&nbsp;{[{item.ip}]}
			</li>
		</ul>
	</div>
	<div class="ipinfo fl" ng-init="rightbar = initData">
		<div class="_itemtitle"><span class="tx">IP详细信息</span></div>
		<ul class="box">
			<li>
				<span>IP的类型：</span>{[{rightbar.ip_type}]}	
			</li>
			<li>
				<span>IP连接的vm：</span>{[{rightbar.ip_connect_vm}]}	
			</li>
		</ul>
	</div>
</div>