
<div style="height:390px;overflow-y:auto;"> 
    <!-- 网络监控的tree -->
    <ul class="nav nav-list nav-pills nav-stacked abn-tree" ng-if="treeName == 'network_bar_net_treeview'">
      <li  ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid" ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="abn-tree-row" style="clear:both;">
              <a class="hover"  style="display:inline-block;height:25px;width:auto;margin-top:5px;float:left;" ng-click="user_clicks_branch(row.branch)">  
                  <i style="float:left;" ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i>
                  <span class="indented tree-label" style="float:left;margin-top:3px;">{{ row.label }} </span>
              </a>
              <span ng-if="(row.level == 1)" style="float:left;display:inline-block;height:24px;margin-top:9px;font-size:14px;color:#C2912B">修改{{row.branch.data.description}}次</span>
              <!-- <span ng-if="(row.level == 2)" style="float:left;display:inline-block;height:24px;margin-top:9px;margin-left:21px;font-size:14px;color:#C2912B">修改{{row.branch.data.description}}次</span> -->
              <span ng-if="(row.level == 3)" style="float:left;display:inline-block;height:24px;margin-top:9px;margin-left:45px;font-size:14px;color:#C2912B">修改{{row.branch.data.description}}次</span>
              <span ng-if="(row.level == 5)" style="float:left;display:inline-block;height:24px;margin-top:9px;margin-left:83px;font-size:14px;color:#C2912B">修改{{row.branch.data.description}}次</span>
              <!-- <span ng-if="(row.level == 3)" style="float:left;display:inline-block;height:24px;margin-top:9px;margin-left:45px;font-size:14px;color:#C2912B">修改{{row.branch.data.description}}次</span> -->
              <span  ng-if="(row.level == 1)" class="tree-bg01">{{row.branch.data.num}}</span>
              <span  ng-if="(row.level == 2)" class="tree-bg0_1">{{row.branch.data.num}}个</span>
              <span  ng-if="(row.level == 4)" class="tree-bg0_1" style="margin-left:27px !important;">{{row.branch.data.num}}个</span>
      </li>
    </ul>
    <!-- 存储监控的tree -->
    <ul class="nav nav-list nav-pills nav-stacked abn-tree" ng-if="treeName == 'storage_treeview'">
      <li  ng-repeat="row in tree_rows | filter:{visible:true} track by row.branch.uid" ng-animate="'abn-tree-animate'" ng-class="'level-' + {{ row.level }} + (row.branch.selected ? ' active':'')" class="abn-tree-row">
            <a ng-if="row.level == 1" class="hover"  style="display:inline-block;height:24px;width:100px;float:left;overflow:hidden" ng-click="user_clicks_branch(row.branch)">  
                <i style="float:left;" ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i>
                <span class="indented tree-label" style="float:left;width:65px;overflow:hidden">{{ row.label }} </span>
            </a>
             <a ng-if="row.level == 2" class="hover"  style="display:inline-block;height:24px;width:136px;float:left;" ng-click="user_clicks_branch(row.branch)">  
                <i style="float:left;" ng-class="row.tree_icon" ng-click="row.branch.expanded = !row.branch.expanded" class="indented tree-icon"></i>
                <span class="indented tree-label" style="float:left;width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" title="{{ row.label }}">{{ row.label }} </span>
            </a>
            <span  ng-if="(row.level == 1) && (row.branch.data.status == 'online')" class="tree-bg01">{{row.branch.data.status}}</span>
            <span  ng-if="(row.level == 1) && (row.branch.data.status == 'offline')" class="tree-bg03">{{row.branch.data.status}}</span>
            <span  ng-if="(row.level == 1) && (row.branch.data.status == 'degrade')" class="tree-bg04">{{row.branch.data.status}}</span>
            <span  ng-if="(row.level == 2)" class="tree-bg0_1">{{row.branch.data.status}}</span>
            <span style="float:left;display:inline-block;height:24px;margin-left:22px;margin-top:5px;font-size:14px;color:#0077bc">{{row.branch.data.description}}</span>
      </li>
    </ul>
</div> 
