 <style type="text/css">
    .inform_cont span{display:inline-block;height:100%;line-height:37px;float:left;font-size: 12px;color: #01cef4;}
    .model_inform .inform_cont{width:50%;height:40px;line-height:40px;}
    .ml10{margin-left:10px;}
    .ml5{margin-left:6px;}
    .loading{height:200px;line-height:200px;text-align:center;color:#ff0000;font-size:14px;}
</style>
<div class="phy_cont" ng-controller="Phy_Monitor_StorageController">
                    <div class="work_title">
                        <p class="title_p2">型号：SSG-2028R-DN2R40L</p>
                        <p class="title_p1">储存监控</p>
                    </div>
                    <div class="loaded" ng-if="phy_monitor_storages!=''">
                        <div class="work_node">
                            <div class="node_cont" ng-class="(key == 1)?'ml10':''" ng-repeat="(key,nodes) in phy_monitor_storages.nodes">
                                <p class="node_title" ng-if="(key == 0)">节点一</p>
                                <p class="node_title" ng-if="(key == 1)">节点二</p>
                                <div class="node_model" ng-class="(key == 1)?'ml10':''">
                                    <p class="model_title">CPU监控</p>
                                    <div class="model_inform">
                                        <div class="inform_cont fl" >
                                            <span class="tmp">温度：{[{nodes.cpu1[0]}]}°C</span> 
                                            <span class="inform_titP">CPU-1</span>
                                            <span class="eu">电压：{[{nodes.cpu1[1]}]}V</span>
                                        </div>
                                        <div class="inform_cont fl" >
                                            <span class="tmp">温度：{[{nodes.cpu2[0]}]}°C</span> 
                                            <span class="inform_titP">CPU-2</span>
                                            <span class="eu">电压：{[{nodes.cpu2[1]}]}V</span>
                                        </div>
                                    </div>
                                    <p class="model_title">内存电压监控</p>
                                    <ul class="voltage_ul">
                                        <li ng-repeat="list in nodes.memory_voltage track by $index">
                                            <p>{[{list}]}V</p>
                                            <div class="line">
                                                <div class="line_cont"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="work_disk clearfix">
                            <div class="disk_title clearfix">
                                <div class="title_ul clearfix">
                                    <ul >
                                        <li>
                                            <p class="li_p1">没插盘</p>
                                        </li>
                                        <li>
                                            <p class="li_p2">插盘未分配</p>
                                        </li>
                                        <li>
                                            <p class="li_p3">插盘已分配</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="title_left ">硬盘监控</div>
                            </div>
                            <div class="disk_cont">
                                <span ng-repeat="list in phy_monitor_storages.disk track by $index">
                                    <a ng-if="(list == 1)" class="a1"></a>
                                    <a ng-if="(list == -1)" class="a2"></a>
                                    <a ng-if="(list == 0)" class="a3"></a>
                                </span>
                            </div>
                        </div>
                        
                        <div class="work_node">
                            <div class="node_cont node3">
                                <p class="node_title">风扇转速监控</p>
                                <div class="node_model model1">
                                    <p class="fan_p1">风扇</p>
                                    <div class="fan_line">
                                        <div class="fan_lineCont"></div>
                                    </div>
                                    <p class="fan_p2">转速：{[{phy_monitor_storages.electric_rota[0]}]}r/s</p>
                                    <p class="fan_p1">风扇</p>
                                    <div class="fan_line">
                                        <div class="fan_lineCont"></div>
                                    </div>
                                    <p class="fan_p2">转速：{[{phy_monitor_storages.electric_rota[1]}]}r/s</p>
                                </div>
                            </div>
                            
                            <div class="node_cont node4">
                                <p class="node_title">系统电流、电压监控</p>
                                <div class="node_model model1">
                                    <div style="height:100%;width:50%;float:left">
                                        <p class="fan_p1">电流</p>
                                        <div class="fan_line">
                                            <div class="fan_lineCont"></div>
                                        </div>
                                        <p class="fan_p2">电流：{[{phy_monitor_storages.systemUI[0]}]}A</p>
                                    </div>
                                    <div style="height:100%;width:50%;float:left">
                                        <p class="fan_p1">电压</p>
                                        <div class="fan_line">
                                            <div class="fan_lineCont"></div>
                                        </div>
                                        <p class="fan_p2">电压：{[{phy_monitor_storages.systemUI[1]}]}V</p>
                                    </div>
                                </div>
                            </div>
                            <div class="node_cont node5">
                                <div class="node_pdu"  ng-class="(key2 == 1)?'ml5':''" ng-repeat="(key2,pdu) in phy_monitor_storages.PDU">
                                    <p class="pdu_p1" ng-if="(key2 == 0)">PDU1</p>
                                    <p class="pdu_p1" ng-if="(key2 == 1)">PDU2</p>
                                    <p class="pdu_p2">电压：{[{pdu[0]}]}V</p>
                                    <p class="pdu_p3">电流：{[{pdu[1]}]}A</p>
                                    <p class="pdu_p3">功率：{[{pdu[2]}]}Kw</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loading" ng-if="phy_monitor_storages==''">加载中。。。</div>
                </div>