<link rel="stylesheet" href="../static/assets/admin/layout/css/phy-monitor.css">
<link rel="stylesheet" href="../static/assets/admin/layout/css/second-common.css">
<style>
   /* .hd li{display:none;}*/
    .bd .tab-pane{display:none;width:100%;height:100%;}
	.active{display:block !important;
	}
    #net-conntype-list,#cpu-temperature-list,.jbod-list{
        height:100%;
    }

    #net-conntype-list li{
        height:17px;
    }
    #cpu-temperature-list li{
        height:35px;
    }
    #jbod-list li{
        height:64px;
    }
    .block-img{
        background:url('../static/assets/admin/layout/img/second/phy-monitor/phy_jg_bottom1.png') no-repeat;
    }
    .show1{
        display:block;
    }
    .show0{
        display:none;
    }
</style>
    <div class="content" ng-controller="Phy_MonitorController">
        <div class="titile">物理监控</div>
        <div class="content_center" ng-controller="TabController">
        <!-- 判断显示不同的机柜 -->
            
            <div class="cabinet" data-ng-include="'../static/management/views/jigui.html'" ng-controller="CabinetController"></div>
            <div class="jz-bottom" style="position:absolute;bottom:31px;height:40px;width:210px;left:4px;">
                 <div class="block-img" style="height:100%;width:100%;"></div>
            </div>
            <!-- tab 内容-->
            <div class="bd fr">
	            <div class="tab-pane fr" ng-class="{'active': tabs[0]}" data-ng-include="'../static/management/views/phy_monitor_network.html'"></div>
	            <div class="tab-pane fr" ng-class="{'active': tabs[1]}" data-ng-include="'../static/management/views/phy_monitor_server.html'"></div>
	            <div class="tab-pane fr" ng-class="{'active': tabs[2]}" data-ng-include="'../static/management/views/phy_monitor_storage.html'"></div>
	            <div class="tab-pane fr" ng-class="{'active': tabs[3]}" data-ng-include="'../static/management/views/phy_monitor_jbod.html'"></div>
                <div class="tab-pane fr" ng-class="{'active': tabs[4]}" data-ng-include="'../static/management/views/phy_monitor_sas.html'"></div>
                <div class="tab-pane fr" ng-class="{'active': tabs[5]}" data-ng-include="'../static/management/views/phy_monitor_pdu.html'"></div>
            </div>
        </div>
    </div>

