 <style type="text/css">
    .inform_cont span{display:inline-block;height:100%;line-height:37px;float:left;font-size: 12px;color: #01cef4;}
    .model_inform .inform_cont{width:50%;height:40px;line-height:40px;}
    .ml10{margin-left:10px;}
    .ml5{margin-left:6px;}
    .list-wrapper .node_title.server{
    	color:#00d8ff;
    	font-size:14px;
    	height:23px;
    	line-height:28px;
        width:100%;
        float:left;
    }
    .list-wrapper .list{
        width:24.6%;
        float:left;
        margin-left:4px;
    }
  .list-wrapper .list .item.server{
    border:solid 1px #0e3066;
    height:274px;
    float:left;
  }
   .list-wrapper .list .item .tx{
   height:20px;
   font-size:14px;
   color:#0077bc;
   padding: 5px;
  }
  .list-wrapper .list .item .cpu{
    padding: 9px 0px 5px 3px;
  }
  .list-wrapper .list .item .cpu span,.memory span{
    display:inline-block;
    height:40px;
    width:57px;
    text-align: center;
    line-height: 40px;
    color: #01cef4;
    font-size:14px;
  }
  .cpu .v{
    background:url('../static/assets/admin/layout/img/second/network-monitor/cico3_03.png') no-repeat;
  }
  .cpu .t{
    background:url('../static/assets/admin/layout/img/second/network-monitor/cico3_05.png') no-repeat;
  }
  .fan_line {
    width: 47px;
    height: 7px;
    background: #040611;
    border-radius: 15px;
    float: left;
    margin: -13px 0 0 5px;
 }
 .fan_line .fan_lineCont {
    width: 36px;
    height: 7px;
    background: #16bb53;
    border-radius: 15px;
}
.t1{
    width: 52px;
    background: #0e4a91;
    font-size: 14px;
    color: #00d8ff;
    float: left;
}
.t2{
    margin: 0 0 0 9px;
    font-size: 14px;
    color: #00d8ff;
    float: left;
}
.device{
    width: 50%;
    float: left;
    height: 29px;
    line-height: 25px;
    padding: 2px;
    text-align: center;
}
.loading{height:200px;line-height:200px;text-align:center;color:#ff0000;font-size:14px;}
</style>
<div class="phy_cont" ng-controller="Phy_Monitor_ServerController">
                    <div class="work_title clearfix">
                    	<p class="title">服务器监控</p>
                        <p class="type_code">型号：{[{phy_monitor_servers.model}]}</p>
                    </div>
                    <div class="loaded" ng-if="phy_monitor_servers!=''">
                        <div class="list-wrapper clearfix">
                            <div class="list" ng-repeat="list in phy_monitor_servers.nodes">
                                <div class="node_title server" ng-if="$index == 0">节点一</div>
                                <div class="node_title server" ng-if="$index == 1">节点二</div>
                                <div class="node_title server" ng-if="$index == 2">节点三</div>
                                <div class="node_title server" ng-if="$index == 3">节点四</div>
                                <div class="item server">
                                    <div class="tx">CPU监控</div>
                                    <div class="cpu">
                                        <span class="v">{[{list.CPU[0].V}]}V</span>
                                        <span class="t">{[{list.CPU[0].T}]}℃</span>
                                        <span class="v">{[{list.CPU[1].V}]}V</span>
                                        <span class="t">{[{list.CPU[1].T}]}℃</span>
                                    </div>
                                    <div class="tx">内存电压监控</div>
                                    <div class="memory" style="padding-left:8px;">
                                        <span class="m" ng-repeat="v in list.memory_voltage track by $index">
                                            <p>{[{v}]}</p>
                                            <p>
                                                <div class="fan_line">
                                                    <div class="fan_lineCont"></div>
                                                </div> 
                                            </p>
                                        </span>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="work_node">
                                <div class="node_cont node4" style="width:100%;float:none;">
                                    <p class="node_title server">系统电流、电压监控</p>
                                    <div style="float:left;width:50%;height:31px;border:1px solid #0e4a91;overflow:hidden;" ng-repeat="list in phy_monitor_servers.nodes">
                                        <div class="device">
                                            <p class="t1">电流</p>
                                            <p class="t2">电流：{[{list.PDU.current | number:2}]}A</p>
                                        </div>
                                        <div class="device">
                                            <p class="t1">电压</p>
                                            <p class="t2">电压：{[{list.PDU.volt | number:2}]}V</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="node_cont node3" style="width:100%;" >
                                    <p class="node_title server">风扇转速监控</p>
                                    <div class="node_model model1" style="width:25%;float:left;" ng-repeat="list in phy_monitor_servers.nodes">
                                        <p class="fan_p1">风扇</p>
                                        <p class="fan_p2">转速：{[{list.fan_speed | number:2}]}r/s</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="loading" ng-if="phy_monitor_servers==''">
                        加载中。。。
                    </div>
                    
                </div>