 <style type="text/css">
    .inform_cont span{display:inline-block;height:100%;line-height:37px;float:left;font-size: 12px;color: #01cef4;}
    .model_inform .inform_cont{width:50%;height:40px;line-height:40px;}
    .ml10{margin-left:10px;}
    .ml5{margin-left:6px;}
    .list-wrapper .node_title{
        color:#00d8ff;
        font-size:14px;
        height:38px;
        line-height:38px;
        width:100%;
        float:none;
    }
    .list-wrapper .list{
        width:24.6%;
        float:left;
        margin-left:4px;
    }
  .list-wrapper .list .item{
    border:solid 1px #0e3066;
    height:286px;
  }
   .list-wrapper .list .item .tx{
   height:20px;
   font-size:14px;
   color:#0077bc;
   padding: 5px;
  }
  .list-wrapper .list .item .cpu{
    padding: 9px 0px 5px 3px;
  }
  .list-wrapper .list .item .cpu span,.memory span{
    display:inline-block;
    height:40px;
    width:57px;
    text-align: center;
    line-height: 40px;
    color: #01cef4;
    font-size:14px;
  }
  .cpu .v{
    background:url('../static/assets/admin/layout/img/second/network-monitor/cico3_03.png') no-repeat;
  }
  .cpu .t{
    background:url('../static/assets/admin/layout/img/second/network-monitor/cico3_05.png') no-repeat;
  }
  .fan_line {
    width: 47px;
    height: 7px;
    background: #040611;
    border-radius: 15px;
    float: left;
    margin: -13px 0 0 5px;
 }
 .fan_line .fan_lineCont {
    width: 36px;
    height: 7px;
    background: #16bb53;
    border-radius: 15px;
}
.disk_cont{
    overflow:hidden;
    border:1px solid #0e4a91;
    margin-top:5px;
    padding-bottom:8px;
    }
.disk_cont a{
    width:40px;
    height:30px;
    display:block;
    float:left;
    margin:8px 0 0 16px;
    }   
.disk_cont .a1{
    background:url(../static/assets/admin/layout/img/second/phy-monitor/yingpan_icon2.png) no-repeat;
    }
.disk_cont .a2{
    background:url(../static/assets/admin/layout/img/second/phy-monitor/yingpan_icon1.png) no-repeat;
    }
.disk_cont .a3{
    background:url(../static/assets/admin/layout/img/second/phy-monitor/yingpan_icon3.png) no-repeat;
    }
</style>
<div class="phy_cont" ng-controller="Phy_Monitor_JbodController">
                    <div class="work_title clearfix">
                        <p class="title">JBOD监控</p>
                        <p class="type_code">型号：CSE-946ED-R2KJBOD</p>  
                    </div>
                    <div class="list-wrapper clearfix">
                        <div class="node_title" style="width:50%">硬盘监控</div>
                        <div class="status_bar clearfix fr" style="width:50%">
                            <ul>
                                <li class="fr">
                                    <p class="ml15"><span class="smark c3"></span>插盘已分配</p>
                                </li>
                                <li class="fr">
                                    <p class="ml15"><span class="smark c2"></span>插盘未分配</p>
                                </li>
                                <li class="fr">
                                    <p class="ml15"><span class="smark c1"></span>没插盘</p>
                                </li>   
                            </ul>
                        </div> 
                    </div>
                    <div class="disk_cont">
                            <span ng-repeat="list in phy_monitor_jbods.disk track by $index">
                                <a ng-if="(list == 1)" class="a1"></a>
                                <a ng-if="(list == -1)" class="a2"></a>
                                <a ng-if="(list == 0)" class="a3"></a>
                            </span>
                    </div>
                    <div class="work_node">        
                        <div class="node_cont node4" style="width:100%;float:none;">
                            <p class="node_title">系统电流、电压监控</p>
                            <div class="node_model model1" style="width:50%;float:left" ng-repeat="item in phy_monitor_jbods.systemUI">
                                <div style="height:100%;width:50%;float:left">
                                    <p class="fan_p1">电流</p>
                                    <div class="fan_line">
                                        <div class="fan_lineCont"></div>
                                    </div>
                                    <p class="fan_p2">电流：{[{item[0]}]}A</p>
                                </div>
                                <div style="height:100%;width:50%;float:left">
                                    <p class="fan_p1">电压</p>
                                    <div class="fan_line">
                                        <div class="fan_lineCont"></div>
                                    </div>
                                    <p class="fan_p2">电压：{[{item[1]}]}V</p>
                                </div>
                            </div>
                        </div>
                        <div class="node_cont node3" style="width:100%;">
                            <p class="node_title">风扇转速监控</p>
                            <div class="node_model model1" style="width:20%;float:left;" ng-repeat="item in phy_monitor_jbods.electric_rota track by $index">
                                <p class="fan_p1">风扇</p>
                                <p class="fan_p2">转速：{[{item}]}r/s</p>
                            </div>
                        </div>
                        <div class="node_cont node5"  ng-controller="Phy_Monitor_StorageController">
                            <div class="node_pdu"  ng-class="(key2 == 1)?'ml5':''" ng-repeat="(key2,pdu) in phy_monitor_storages.PDU">
                                <p class="pdu_p1" ng-if="(key2 == 0)">PDU1</p>
                                <p class="pdu_p1" ng-if="(key2 == 1)">PDU2</p>
                                <p class="pdu_p2">电压：{[{pdu[0]}]}V</p>
                                <p class="pdu_p3">电流：{[{pdu[1]}]}A</p>
                                <p class="pdu_p3">功率：{[{pdu[2]}]}Kw</p>
                            </div>
                        </div>
                    </div>
                    
                </div>