<!-- 二级页主展示区 -->
</style>
<link rel="stylesheet" type="text/css" href="../static/assets/admin/layout/css/storage-monitor.css">
<div class="main" ng-controller="Storage_MonitorController" style="background:#0a122f;">
    <div class="title"><span class="tx">物理监控</span></div>
    <div class="nav">
        <div class="fl wp48 node" ng-repeat="node in storage_monitors">
            <img src="../static/assets/admin/layout/img/common/stico_03.png" alt="">
            <span class="tx">存储{[{node.name}]}</span>
            <div class="item clearfix">
                <div class="fl wp48 llist">
                    <dl>
                        <dt>CPU占用</dt>
                        <dd class="cpu clearfix">
                           <div class="cpubg01 fl">
                                <div class="clearfix">
                                   <span class="canvas m-t-l" ui-jq="easyPieChart" ui-options="{
                                    percent: {[{node.item.cpu_used[0]}]}, 
                                    lineWidth: 10, 
                                    trackColor:'#e8eff0', 
                                    barColor: '#02c8f2', 
                                    scaleColor: false, 
                                    size: 45, 
                                    lineCap: 'butt', 
                                    }" ui-jq="easyPieChart" style="width: 188px; height: 188px; line-height: 188px;
                                  }" class="inline m-t"></span>
                                   <span>
                                       <p class="num">{[{node.item.cpu_used[0]}]}%</p>
                                       <p class="tx">CPU1</p>
                                   </span>
                                </div>
                                <p class="pl">CPU1频率:{[{node.item.cpu_frequence[0]}]}GHz</p>
                            </div>
                            <div class="cpubg02 fl">
                                <div class="clearfix">
                                    <span class="canvas m-t-l" ui-jq="easyPieChart" ui-options="{
                                    percent: {[{node.item.cpu_used[1]}]}, 
                                    lineWidth: 10, 
                                    trackColor:'#e8eff0', 
                                    barColor: '#02c8f2',  
                                    scaleColor: false, 
                                    size: 45, 
                                    lineCap: 'butt', 
                                    
                                    }" ui-jq="easyPieChart" style="width: 188px; height: 188px; line-height: 188px;
                                  }" class="inline m-t"></span>
                                    <span>
                                       <p class="num">{[{node.item.cpu_used[1]}]}%</p>
                                       <p class="tx">CPU2</p>
                                    </span>
                                </div>
                                <p class="pl">CPU1频率:{[{node.item.cpu_frequence[1]}]}GHz</p>  
                            </div>
                        </dd>
                        <dt>内存占用</dt>
                        <dd class="memory">
                            <p>
                                <span class="m1">内存占用</span>
                                <progressbar value="node.item.memory.memory_used" class="bg-color" style="float:left;height:10px;margin:0px;width:125px;margin-left:24px;margin-top:5px;" animate="true" type="primary"></progressbar>
                                <span class="num">{[{node.item.memory.memory_used}]}%</span>
                            </p>
                            <p>
                                <span class="m2">内存总容量 :</span>
                                <span></span>
                                <span class="num">{[{node.item.memory.memory_total}]}GB</span>
                            </p>
                            <p style="width:94%;margin-top:18px;margin-left:3%;border-top:solid 1px #0077bc;height:5px;"></p>
                            <p style="margin-top:-6px;">
                                <span class="m3" ><i class="ico_used"></i>已用：{[{node.item.memory.used}]}GB</span>
                                <span class="m4"><i class="ico_empty"></i>可用：{[{node.item.memory.empty}]}GB</span>
                            </p>
                        </dd>
                        <dt>网卡监控</dt>
                        <dd class="network">
                            <div>
                                <p>
                                    <span class="m1">网络上行</span>
                                      <progressbar value="node.item.network_card.up" class="bg-color" style="float:left;height:10px;margin:0px;width:125px;margin-left:24px;margin-top:5px;" animate="true" type="primary"></progressbar>
                                    <span class="num">{[{node.item.network_card.up}]}%</span>
                                </p>
                                <p>
                                    <span class="m1"><i class="ico_nup"></i>网卡上行流量</span>
                                    <span></span>
                                    <span class="num">{[{node.item.network_card.up_rate}]}Kb/s</span>
                                </p>
                            </div>
                            <p style="width:94%;margin-top:19px;margin-left:3%;border-top:solid 1px #0077bc;height:5px;"></p>
                            <div>
                                <p>
                                    <span class="m1">网络下行</span>
                                      <progressbar value="node.item.network_card.down" class="bg-color" style="float:left;height:10px;margin:0px;width:125px;margin-left:24px;margin-top:5px;" animate="true" type="warning"></progressbar>
                                    <span class="num">{[{node.item.network_card.down}]}%</span>
                                </p>
                                <p>
                                    <span class="m1"><i class="ico_dup"></i>网卡下行流量</span>
                                    <span></span>
                                    <span class="num">{[{node.item.network_card.down_rate}]}Kb/s</span>
                                </p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="fl wp48 mlp2 rlist">
                    <dl>
                        <dt>存储池监控</dt>
                        <dd class="fl sline" ></dd>
                        <dd class="fl" ng-init="" data-ng-include="'../static/management/views/storagepool-treeview.html'" >
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script>
    
</script>