<link rel="stylesheet" type="text/css" href="../static/assets/admin/layout/css/warning-info.css">
<style type="text/css">
    table tr th{color:#5DDBF5}
</style>
<div class="content">
    <div class="titile">技术支持</div>
    <div class="content_center" style="height:462px;overflow-y:auto;">       
        <table>
           <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td  align="left">3</td>
                    <td  align="left">4</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>