<link rel="stylesheet" type="text/css" href="../static/assets/admin/layout/css/warning-info.css">
<style type="text/css">
.tw{height:32px;float:left;border-bottom:solid 1px #0077bc}
.ml110{margin-left:44px;}
.tw .tle{height:30px;text-align:center;line-height:30px;}
.w60{width:69%;}
.w30{width:27%;}
.ce,.ps{display:block;font-size:16px;float:left;color:#00d8ff;margin-left:5px;}
.firm-info{
    padding-top:32px;
}
.firm-info p{
    color:#0077bc;
    font-size:14px;
}
.line{margin-top:20px;}
.line p{
    color:#0077bc;
    font-size:14px;
}
.intro_01{
    padding-top:32px;
}
.intro_01 p{
    color:#0077bc;
    font-size:14px;
    margin-bottom:4px;
}
.rule p{
    color:#0077bc;
    font-size:14px;
    margin-bottom:4px;
}
.tent{margin-left:28px;}
</style>
<div class="content">
    <div class="titile">技术支持</div>
    <div class="content_center" style="height:100%">       
        <div width="100%">
            <div  class="tw w60">
                <div class="tle" style="padding-left:220px;"><img src="../static/assets/admin/layout/img/common/tico_06.png" style="float:left;"><span class="ce">技术支持客户服务受理中心</span>
                </div>
                <div class="intro_01">
                   <p class="tent">本公司服务受理中心是公司面向用户的客户服务受理中心，通过建立客户项目档案来及时响应客户的需求，客户档案包括该项</p>
                   <p>本公司服务受理中心是公司面向用户的客户服务受理中心，通过建立客户项目档案来及时响应客户的需求，客户档案包括该项目的</p> 
                   <p>本公司服务受理中心是公司面向用户的客户服务受理中心，通过建立客户项目档案来及时响应客户的需求，客户档案包括该项目的</p>
                   <p>本公司服务受理中心是公司面向用户的客户服务受理中心，通过建立客户项目档案来及时响应客户的需求。</p>
                </div>
                <div style="clear:both;height:50px;line-height:50px;">
                    <img src="../static/assets/admin/layout/img/common/tico_11.png" style="float:left;margin-top:13px;"><span style="display:block;font-size:16px;float:left;color:#00d8ff;margin-left:5px;">售后服务措施</span>
                </div>
                <div class="rule">
                   <p>（1）提供及时的服务受理。用户可以通过不同方式向客户服务响出服务申报。如：通过电话、传真、信函、E-mail、来访</p>
                   <p>（2）提供及时的服务受理。用户可以通过不同方式向客户服务响应中心提出服务申报。如：通过电话、传真、信函、E-mail</p>
                   <p>（3）提供及时的服务受理。用户可以通过不同方式向客户服务响应中心提出服务申报。如：通过电话、传真、来访</p>
                   <p>（4）提供及时的服务受理。用户可以通过不同方式向客户服务响应中心提出服务申报。如：通过电话、传真、来访</p>
                </div>
            </div>
            <div class="tw ml110 w30">
                <div class="tle" style="padding-left:88px;"><img src="../static/assets/admin/layout/img/common/tico_03.png" style="float:left;"><span class="ps">联系方式</span></div>
                <div class="firm-info">
                    <p style="padding-top:">电话：400-800-2013</p>
                    <p>传真：010-58952609</p>
                    <p>邮箱：cs@surdocteam.net</p>
                    <p>地址：北京市朝阳区广顺北大街5号院内上32号<br>
                             融创动力科技文化创意产业园B230
                    </p>
                </div>
                <div class="line">
                    <p style="margin-bottom:5px;">可乘坐地铁14号线到来广营站D口出或乘坐467路;</p> 
                    <p>660路;677路;944路;991路下车向南行走500米。</p>
                </div>
                <div style="margin-top:60px;">
                    <img src="../static/assets/admin/layout/img/common/shmap_11.png">
                </div>
            </div>
             
                       <!--  <div>
                            
                        </div> -->
                  
    </div>    
</div>