<link rel="stylesheet" type="text/css" href="../static/assets/admin/layout/css/warning-info.css">
<style type="text/css">
    .time-filter input{
        background:transparent;
        width:100px;
        height:30px;
        line-height:30px;
        float:left;
        border:none;
        margin-top:5px;
        text-align:center;
    }
    .time-filter .sep{
        display:inline-block;
        width:10px;
        float:left;
        height:30px;
        line-height:30px;
        margin-top:5px;
    }
    .bc1{
        /*background:#122652 !important;*/
    }
    .bc2{


    }
</style>
<div class="content" ng-controller="WarningController">
            <div class="titile">报警信息</div>
            <div class="content_center">
                <input type="hidden" id="filter" type="text" value=""></input>
                <div class="police_tab" style="height:462px;overflow-y:auto;">
                <!-- 功能table页 -->
                       <ul class="nav-list" style="width:100%">
                            <li class="sort-01">
                                <select class="filter-status" style="margin-left:10px;">
                                    <option></option>
                                    <option value="硬件报警">硬件报警</option>
                                    <option value="系统报警">系统报警</option>
                                </select>
                            </li>
                            <li class="sort-02">
                                <select class="filter-status" style="margin-left:5px;">
                                    <option></option>
                                    <option value="物理服务器">物理服务器</option>
                                    <option value="存储服务器 ">存储服务器</option>
                                    <option value="云主机">云主机</option>
                                    <option value="网络 ">网络</option>
                                    <option value="超级微服务器">超级微服务器</option>
                                </select>
                            </li>        
                            <li class="warning-info">报警信息
                            </li> 
                            <li class="time-filter">
                                <input class="start" type="text" eon-date-picker>
                                <span class="sep">  ~ </span>
                                <input class="end" type="text" eon-date-picker>
                            </li>        
                    </ul>
                        <table class="police_table footable" data-filter="#filter" data-filter-text-only="false" >
                           <tbody>
                                <tr ng-repeat="item in warnings" ng-class="$index%2==0?'bc1':''" ng-click="setDatatoLeftBar(item)">
                                    <td align="center">{[{item.warning_type}]}</td>
                                    <td >{[{item.name}]}</td>
                                    <td align="center">{[{item.warning_info}]}</td>
                                    <td>{[{item.warning_time}]}</td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="police_details">
                <dl class="details_table" ng-init="rightbar = initData">
                    
                    <dt class="title">报警详情</dt>
                    <dd class="item">
                        <div class="fl"><span class="span1">设备名称</span></div>
                        <div class="fl">{[{rightbar.name}]}</div>
                    </dd>
                    <dd class="item">
                        <div class="fl"><span class="span1">报警类型</span></div>
                        <div class="fl">{[{rightbar.warning_type}]}</div>
                    </dd>
                    <dd class="item blob">
                        <div class="fl"><span class="span1">报警信息</span></div>
                        <div class="fl">{[{rightbar.memory_point}]}</div>
                    </dd>
                   <!--  <dd class="item blob">
                        <div class="fl">储节点</div>
                        <div class="fl">{[{rightbar.memory_point}]}</div>
                    </dd>
                    <dd class="item blob">
                        <div class="fl"><span class="span1">虚拟机</span></div>
                        <div class="fl">{[{rightbar.virtual_mechine}]}</div>
                    </dd>
                     <dd class="item blob">
                        <div class="fl"><span>云盘</span></div>
                        <div class="fl">{[{rightbar.cloud_disk}]}</div>
                    </dd> -->
                    <dd class="item">
                        <div class="fl"><span>报警时间</span></div>
                        <div class="fl">{[{rightbar.warning_time}]}</div>
                    </dd>
                </dl>
  
                </div>
            </div>
        </div>
     