 <div class="work_title">
                        <p class="title_p2">型号：SSG-2028R-DN2R40L</p>
                        <p class="title_p1">储存监控</p>
                    </div>
                    <div class="work_node clearfix">
                        <div class="node_cont">
                            <p class="node_title">节点一</p>
                            <div class="node_model">
                                <p class="model_title">CPU监控</p>
                                <div class="model_inform">
                                    <div class="inform_cont">
                                        <p>温度：80°C</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    <p class="inform_titP">CPU-1</p>
                                    <div class="inform_cont">
                                        <p>电压：12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="inform_cont">
                                        <p>温度：80°C</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    <p class="inform_titP">CPU-1</p>
                                    <div class="inform_cont">
                                        <p>电压：12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="model_title">内存电压监控</p>
                                <ul class="voltage_ul">
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="node_cont node2">
                            <p class="node_title">节点二</p>
                            <div class="node_model">
                                <p class="model_title">CPU监控</p>
                                <div class="model_inform">
                                    <div class="inform_cont">
                                        <p>温度：80°C</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    <p class="inform_titP">CPU-1</p>
                                    <div class="inform_cont">
                                        <p>电压：12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    
                                    <div class="inform_cont">
                                        <p>温度：80°C</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                    <p class="inform_titP">CPU-1</p>
                                    <div class="inform_cont">
                                        <p>电压：12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </div>
                                </div>
                                <p class="model_title">内存电压监控</p>
                                <ul class="voltage_ul">
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <p>12V</p>
                                        <div class="line">
                                            <div class="line_cont"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="work_disk clearfix">
                        <div class="disk_title clearfix">
                            <div class="title_ul clearfix">
                                <ul >
                                    <li>
                                        <p class="li_p1">没插盘</p>
                                    </li>
                                    <li>
                                        <p class="li_p2">插盘未分配</p>
                                    </li>
                                    <li>
                                        <p class="li_p3">插盘已分配</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="title_left ">硬盘监控</div>
                        </div>
                        <div class="disk_cont">
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a2"></a>
                            <a class="a2"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a3"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                            <a class="a1"></a>
                        </div>
                    </div>
                    
                    <div class="work_node">
                        <div class="node_cont node3">
                            <p class="node_title">风扇转速监控</p>
                            <div class="node_model model1">
                                <p class="fan_p1">风扇</p>
                                <div class="fan_line">
                                    <div class="fan_lineCont"></div>
                                </div>
                                <p class="fan_p2">转速：1200r/s</p>
                                <p class="fan_p1">风扇</p>
                                <div class="fan_line">
                                    <div class="fan_lineCont"></div>
                                </div>
                                <p class="fan_p2">转速：1200r/s</p>
                            </div>
                        </div>
                        
                        <div class="node_cont node4">
                            <p class="node_title">系统电流、电压监控</p>
                            <div class="node_model model1">
                                <p class="fan_p1">电流</p>
                                <div class="fan_line">
                                    <div class="fan_lineCont"></div>
                                </div>
                                <p class="fan_p2">电流：12A</p>
                                <p class="fan_p1">电压</p>
                                <div class="fan_line">
                                    <div class="fan_lineCont"></div>
                                </div>
                                <p class="fan_p2">电流：12A</p>
                            </div>
                        </div>
                        <div class="node_cont node5">
                            <div class="node_pdu">
                                <p class="pdu_p1">PDU1</p>
                                <p class="pdu_p2">电压：220V</p>
                                <p class="pdu_p3">电流：12A</p>
                                <p class="pdu_p3">功率：12Kw</p>
                            </div>
                        </div>
                        
                        <div class="node_cont node6">
                            <div class="node_pdu">
                                <p class="pdu_p1">PDU2</p>
                                <p class="pdu_p2">电压：220V</p>
                                <p class="pdu_p3">电流：12A</p>
                                <p class="pdu_p3">功率：12Kw</p>
                            </div>
                        </div>
                        
                    </div>