<link rel="stylesheet" type="text/css" href="../static/assets/admin/layout/css/footer.css">
	<div class="tool-bar">
	    <a class="nav_a1">帮助</a>
        <a class="nav_a2">管理</a>
		<ul class="ico-block">
			<li class="wrap" ><a ng-href="#/">
				<div>
					<img src="../static/assets/admin/layout/img/common/nav_ico_03.png">
				</div>
				<p class="btx">首页总览</p>
			</a></li>
			<li class="wrap" ><a ng-href="#/phy_monitor/">
				<div>
					<img src="../static/assets/admin/layout/img/common/nav_ico_05.png">
				</div>
				<p class="btx">物理监控</p>
			</a></li>
			<li class="wrap"><a ng-href="#/cloud_monitor/">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_13.png">
				</div>
				<p class="btx">云主机监控</p>
			</a></li>
			<li class="wrap"><a ng-href="#/storage_monitor/">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_07.png">
				</div>
				<p class="btx">储存监控</p>
			</a></li>
			<li class="wrap"><a ng-href="#/network_monitor/">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_09.png">
				</div>
				<p class="btx">网络监控</p>
			</a></li>
			<a ng-href="#/volume_monitor/"><li class="wrap">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_11.png">
				</div>
				<p class="btx">云盘监控</p>
			</li></a>
			<li class="wrap"><a ng-href="#/technology_monitor/">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_11.png">
				</div>
				<p class="btx">技术支持</p>
			</a></li>
			<li class="wrap"><a ng-href="#/warning-info/">
				<div>
					<img  src="../static/assets/admin/layout/img/common/nav_ico_13.png">
				</div>
				<p class="btx">报警信息</p>
			</a></li>
		</ul>
	</div>

