<!-- CSS样式临时wenjian -->
<link rel="stylesheet" href="../static/assets/admin/layout/css/header.css">
<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
	<div class="page-header-inner tline">
		<div class="page-header-inner bline fl">
			<!-- BEGIN LOGO -->
			<div class="page-logo w30 fl">
				<a href="#/" class="inline fl">  
				<img src="../static/assets/admin/layout/img/common/logo.png" alt="logo" class="logo-default"/>
				</a>
				<!-- <a href="#/" class="inline fl" title="返回"></br></br></br><img src="../static/assets/admin/layout/img/common/return_back_03.png"></a> -->
				<div class="menu-toggler sidebar-toggler hide">
					<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
				</div>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN MES -->
			<div class="fr" style="height:100%">
		        <ul class="" style="height:100%;text-align:center">
		          <!--   <li class="t-lock fr" >
		           		<img style="margin-top: 45px;" src="../static/assets/admin/layout/img/common/lock_03.png">
		            </li> -->
		          <!--   <li class="t-email fr">
		            	<img style="margin-top:-6px;" src="../static/assets/admin/layout/img/common/mail_03.png"><span style="display:inline-block;width:10px;margin-top:42px;font-size:18px;color:#0077bc;margin-left:8px;">15</span>
		            </li> -->
		        </ul>
		    </div>
		</div>
		
    </div>
</div>

<!-- END HEADER INNER -->
