   /*透明背景*/
       body{
        width:1366px;
        height:768px;
        background:url(../img/common/page_bg.jpg) no-repeat;
        margin:0 auto !important;
        clear:both;
        /*overflow:hidden;*/
        z-index:9999999;
        position:absolute;
        background-color:#080F26 !important
        }
       .page-content-wrapper .page-content {
            margin-left:0px;
            margin-top: 0px;
            min-height: 600px;
            padding: 11px 20px 10px 20px;
            font-family: "Microsoft YaHei";
        }
        .page-header.navbar {
           
            margin: 0;
            border: 0px;
            padding: 0px;
            box-shadow: none;
            height: 76px;
            min-height: 76px;
            filter: none;
            background:transparent;
        }
       .trbg{background:transparent;}
       .fl{float:left;}
       .fr{float:right;}
       /*header*/
       .page-header .navbar .navbar-fixed-top{
          display:block;height: 76px;
       }
       .page-container {
        margin: 0px;
        padding: 0px;
        position: relative;
       }
       .page-content {
            margin-top: 0px;
            padding: 0px;
            background:transparent;
            /* border-left: 1px solid #F0F5F7; */
            border:none;
        }
        .page-container .jg-wrap-02{
             position: absolute;
            background: url(../img/bar/jigui_03.png);
            width: 200px;
            background-repeat: no-repeat;
            background-position: center;
            height: 540px;
            left:42.3%;
        }
        .page-container .jg-wrap-01 .jigui,.page-container .jg-wrap-02 .jigui{
            width:173px;
            height:468px;
            margin-top:65px;
            margin-left:14px;
        }
         .page-container .jg-wrap-01 .jigui .inner-box-list,.page-container .jg-wrap-02 .jigui .inner-box-list{
            height:100%;
            margin: 18px 7px 19px 8px;
         }
        ul,li{
            padding:0px;
            margin:0px;
        }
        .l-list{
           height:35px;
           
        }
        .w1 img{float:left;}
        .line{height:9px;margin-top:1px;}
        .p2{padding:1px;}
        .line5 span{
            float:left;
            height:12px;
            width:6px;
            float:left;
            margin-left:1px;
        }
        .tool-03 .w1 span{
            height:9px;
            width:9px;
            display:inline-block;
            float:left;
            margin:0.5px;
        }
        .mt2{margin-top:2px;}
        .l-list li{float:left;height:16px;line-height:16px;}
        .l-list li img{margin-bottom:3px;}
        .l-list .tx{
            color: #0077bc;
            display: inline-block;
            height: 100%;
            line-height: 130%;
            margin-left: -4px;
            margin-top: 1px;
        }
        .tool-03 .w1{height:100%;}
       .p-2-0-2-3{
            padding-top:5px;
            padding-bottom:2px;
            padding-left:3px;
        }
        .p-3-1{
            padding:3px 1px;
        }
        .page-container-bg-solid .page-content {
             background: transparent !important; 
        }