.content{
    margin:40px 40px 0 40px;
    height:535px;
    background:#0a122f;
    border:1px solid #0077bc;
    position:relative;
}
.content .titile{
    position:absolute;
    width:175px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#86edff;
    background:url(../img/common/title_bg.png) no-repeat;
    left:10px;
    top:-15px;
    z-index:10;
    font-family:"微软雅黑";
}
.content .content_center {
    margin: 12px 12px 0 22px;
}
.page-container .jg-wrap {
    position: absolute;
    background: url(../img/common/jigui_03.png);
    width: 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 485px !important;
    left: 8px !important; 
}
.clearfix:after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } 
.page-container .jg-wrap .jigui .inner-box-list {
    height: 100%;
    padding: 28px 8px 19px 9px !important;
}