@charset "utf-8";
ul, li{list-style-type:none;} 
/*外围包裹css*/
.content{
    margin:40px 40px 0 40px;
    height:535px;
    background:#0a122f;
    border:1px solid #0077bc;
    position:relative;
    }
.content .titile{
    position:absolute;
    width:175px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:16px;
    color:#86edff;
    background:url(../img/second/warning-img/title_bg.png) no-repeat;
    left:10px;
    top:-15px;
    z-index:10;
    font-family:"微软雅黑";
    }
.content .content_center{
    margin:38px 38px 0 38px;
    }
/* CSS Document */
.police_tab{
    width:790px;
    float:left;
    }
.police_table{
    width:100%;
    font-size:14px;
    font-family:"Microsoft YaHei";
    border-collapse:collapse;
    text-align:center;
    clear:both;
    }   
.nav-list li.sort-01{
    height: 34px;
    background: url(../img/second/warning-img/th_bg.png) repeat;
    line-height: 34px;
    font-size: 14px;
    color: #86edff;
    border-right: 1px solid #0a1231;
    /*margin-left:10px;*/
    width:105px;
}
.nav-list li.sort-02{
    height: 34px;
    background: url(../img/second/warning-img/th_bg.png) repeat;
    line-height: 34px;
    font-size: 14px;
    color: #86edff;
    border-right: 1px solid #0a1231;
    width:140px;
}
.nav-list li.warning-info{
    height: 34px;
    background: url(../img/second/warning-img/th_bg.png) repeat;
    line-height: 34px;
    font-size: 14px;
    color: #86edff;
    border-right: 1px solid #0a1231;
     width:285px;
     text-align:center;
}
.nav-list li.time-filter{
    height: 34px;
    background: url(../img/second/warning-img/th_bg.png) repeat;
    line-height: 34px;
    font-size: 14px;
    color: #86edff;
    border-right: 1px solid #0a1231;
     width:259px;
     text-align:center;
}
.nav-list li select{
    background:none;
    border:none;
    font-family:"微软雅黑";
    font-size:14px;
    color:#86edff;

    }
.police_table tbody tr{
    background:none;
    color:#0077bc;
    cursor:pointer;
    height:34px;
    }
.police_table tbody tr .span1{
    color:#dd2a4a;
    }
.police_table tbody tr .span2{
    color:#c5932b;
    }
.police_table tbody tr:hover{
    background:#0c5f8a;
    color:#00d8ff;
    }
.police_table tbody .odd{
    background:none;
    color:#0077bc;
    }
.police_table  .footable-even{
    background:url(../img/second/warning-img/td_bg.png) repeat;
    color:#0077bc;
    }
.police_table tbody .on{
    background:#0c5f8a;
    color:#00d8ff;
    }
     
.police_details{
    float:right;
    width:360px;
    }
    .nav-list li{float:left;}
    .footable > thead > tr > th > span.footable-sort-indicator {
    display:none !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 5px;
}
.footable-odd {
    background-color: transparent !important;
}
.police_table td:nth-child(1){
   width:105px;
}
.police_table td:nth-child(2){
   width:140px;
}
.police_table td:nth-child(3){
   width:285px;
   text-align:left;
}
.time-filter{

}
.details_table .title{
    height: 34px;
    background: #07587b;
    line-height: 34px;
    font-size: 14px;
    color: #86edff;
    border: 1px solid #086187;
    text-align:center;
}
 .item{
        height:34px;
        line-height:34px;
        color: #0077bc;
        cursor: pointer;
        height: 34px;
        border: 1px solid #075f84;
    }
    .item div:nth-child(1){
        color: #00d8ff;
        width:20%;
        height:100%;
        border-right: 1px solid #075f84;
        text-align:center;
    }
    .item div:nth-child(2){
        width:80%;
        text-align:center;
    }
    .item .span1{
        display:inline-block;
       
        color: #00d8ff;
    }
    .blob{
        height:98px;
        line-height:98px;
    }
    .span2{
        color: #dd2a4a;
    }
    .span3 {
        color: #c5932b;
    }


































